body {
  padding: 0;
  margin: 0;
}

section#lg--section {
	background: #FFFFFF;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

	.lg--bottom-triangle {
		position: absolute;
		bottom: 0;
		left: 0;
		margin-left: -100px;
		margin-bottom: -200px;

		width: 120%;
		height: 300px;

		-webkit-animation: triangle_v 20s infinite cubic-bezier(.14,.36,.59,.9);
		-ms-animation: triangle_v 20s infinite cubic-bezier(.14,.36,.59,.9);
	    animation: triangle_v 20s infinite cubic-bezier(.14,.36,.59,.9);
	}

	@-webkit-keyframes triangle_v {
	    0% {	
			-webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
			-ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
			transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
		}

	    25% {
			-webkit-transform: rotate(7deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
		    -ms-transform: rotate(7deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
		    transform: rotate(7deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
	    }

	    50% {	
			-webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
		    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
		    transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
		}

		75% {	
			-webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
		    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
		    transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
		 	 }

	    100% {	
			-webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
		    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
		    transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
	    }
	}


			@-ms-keyframes triangle_v {
			    0% {	
					-webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
					-ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
					transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
				}

			    25% {
					-webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
				    -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
				    transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
			    }

			    50% {	
		    		-webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
				    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
				    transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
				}

				75% {	
					-webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
				    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
				    transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
				 	 }

			    100% {	
		    		-webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
				    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
				    transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
			    }
			}

					@keyframes triangle_v {
					    0% {	
							-webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
							-ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
							transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
						}

					    25% {
							-webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
						    -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
						    transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
					    }

					    50% {	
				    		-webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
						    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
						    transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
						}

						75% {	
							-webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
						    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
						    transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
						 	 }

					    100% {	
				    		-webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
						    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
						    transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
					    }
					}


section#lg--section > header {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100px;
	text-align: center;
}

		section#lg--section header > h1, h4 {
			position: initial;
			font-size: 1.5rem;
			font-weight: 500;
			letter-spacing: .4em;
			margin-top: 20px;
		}

        section#lg--section header > h4 {
            font-size: 1rem;
        }


        * {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  min-height: 100vh;
  font-size: 0.875em;
  color: #666;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}
.wrapper .lg--box-container {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.wrapper .lg--box-container .wave {
  width: 600px;
  height: 600px;
  opacity: 0.6;
  background-color: #fff;
  border-radius: 40%;
  position: absolute;
  top: -270px;
  left: -150px;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}
.wrapper .lg--box-container .wave:nth-child(2) {
  top: -265px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.wrapper .lg--box-container .wave:nth-child(3) {
  top: -260px;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}
.wrapper .lg--box-container:hover .wave {
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
}
.wrapper .lg--box-container:hover .wave:nth-child(2) {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.wrapper .lg--box-container:hover .wave:nth-child(3) {
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
}
.wrapper .lg--box-container .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #777;
}
.wrapper .lg--box-container .content p {
  line-height: 1.5;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.lg--box-heading {
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

